.hero-banner {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url(assets/Night\ Landscape.jpg);
  background-size: cover;
  background-position: center;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-banner h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero-banner p {
  font-size: 1.5em;
}

.image-section .container {
  max-width: 2000px;
  display: flex;
  justify-content: center;


}

.image-section .card {
  text-align: center;

}

